.cards{
    display: inline-block;
    margin: 5px;
}


div.modal-dialog{
    width: 1200px !important;
    margin-left: 20px !important;
    text-align: left !important;
    min-width: 1850px !important;
    min-height: 900px !important;
}


div.modal-body{
    height: 700px;
}